.dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, min-content) auto;
    row-gap: 20px;
    column-gap: 15px;
}

.dashboard > div {
    position: relative;
}

#status {
    grid-column: 1 / 5;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#status i {
    font-size: 1.5em;
    color: #CACED1;
}

button {
    background-color: #DAF6FA;
    color: #3BCEE6;
    border-color: #3BCEE6;
    border-radius: 0.5em;
}

button > i {
    color: #3BCEE6 !important;
}

.settings-box {
    display: none;
    max-width: 90vw;
    color: black;
    right: 1em;
    position: absolute;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000024;
    border: #959EA3 1px solid;
    border-radius: 4px;
    padding: 15px;
}

.special {
    background: #D8F5FA 0 0 no-repeat padding-box;
    border-radius: 0.3em;
    font-family: Consolas;
    padding: 0.3em 20px;
    color: #3BCEE6;
}

.special:visited {
    color: #3BCEE6;
}

#online-users {
    grid-column: 1;
    grid-row: 2;
}

.info-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.info-block > i {
    font-size: 1.5em;
    color: #5D6D86;
    background-color: #ECEEF1;
    border-radius: 2em;
    padding: 15px;
}

.info-block p {
    font-family: Consolas;
}

.info-block p:last-child {
    font-weight: bold;
}

#problems {
    grid-column: 1 / 4;
    grid-row: 3;
    overflow-y: scroll;
}

#problems > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
}

#problems > div i {
    font-size: 1.5em;
    color: #CACED1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

tr {
    border-bottom: 1px solid #CACED1;
}

table th, table td {
    padding: 0.8em 0.5em;
    text-align: left;
    vertical-align: top;
}

th {
    font-family: Consolas;
    color: #959EA3;
}

#problems table td:first-child {
    border-right: 1px solid #DAF6FA;
}

#users {
    grid-row: 2 / 4;
}

#users > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: 1px solid #CACED1;
}

#users i {
    font-size: 1.5em;
    color: #CACED1;
}

#users td{
    vertical-align: middle;
    font-family: Consolas;
}

@media only screen and (max-device-width: 1000px) {
    .dashboard {
        display: flex;
        flex-direction: column;
    }

    .info-block {
        justify-content: left;
    }
}

@media only screen and (max-device-width: 800px) {
    #status {
        flex-wrap: wrap;
    }

    .dashboard div {
        padding: 0.5em;
    }

    div > div {
        margin-bottom: 20px;
    }

    #problems {
        display: none;
    }

    .info-block > div > p{
        padding: 0.2em;
    }
}