.objects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 10px 20px 20px 20px;
}

.objects > div {
    width: calc(100% - 30px);
    margin: 7.5px 10px;
    display: flex;
    align-items: center;
}

.objects * {
    font-size: 0.9em;
}

.option-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.option-bar input {
    padding: 0.5em 0;
    margin: 0 5px;
}

input {
    min-width: 200px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 7px;
    text-indent: 1em;
}

.break {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

#object-list {
    overflow: scroll;
    scrollbar-width: none;
}

#object-list::-webkit-scrollbar {
    display: none;
}

.objects-table {
    width: 100%;
    border-collapse: collapse;
}

.objects-table i {
    font-size: 1.5em;
    margin: 2px 2px;
    color: #5D6D86;
    cursor: pointer;
}

.objects-table th {
    text-align: left;
    border-bottom: 2px solid #CACED1;
    padding: 0 1em;
}

.objects-table td {
    padding: 0 1em;
}

.objects-table td:last-child {
    text-align: right;
    width: 3em;
    display: flex;
    justify-content: space-between;
}

#operation_status {
    text-transform: uppercase;
}

.overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
    z-index: 1000;
    align-items: center;
    justify-content: center;
    display: none;
}

.popup {
    max-width: 1000px;
    width: 80%;
    padding: 20px;
    position: relative;
    background: #fff;
    border: 2px solid black;
    border-radius: 0.5em;
    box-shadow: 0 0 5px white;
    z-index: 100;
}

@media only screen and (max-device-width: 1000px) {
    .option-bar {
        flex-direction: column;
        width: 100%;
    }

    button, input {
        width: 100%;
        margin: 0.2em 0;
        border-radius: 0.5em;
    }

    input {
        border-width: 2px;
    }
}