body {
    margin: 0;
}

* {
    font: 20px Segoe UI;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: bold;
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

.base-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.messeges {
    color: red;
    text-align: center;
    border-radius: 15px;
    border: 2px solid red;
    box-shadow: 8px 10px 10px #00000029;
    padding: 0.5em 0.5em;
    display: flex;
    align-items: center;
    margin: 0.5em 0;
}

.social a {
    border: 2px solid;
    border-radius: 100%;
    padding: 0.5em;
    width: 2em;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social a i {
    font-size: 2em;
    display: block;
}

button, [type="file"] + label {
    background: #63B0EB 0 0 no-repeat padding-box;
    text-align: center;
    border: 1px solid #707070;
    border-radius: 50px;
    padding: 0.5em 2em;
    min-width: 100px;
    color: white;
    margin: 5px;
    cursor: pointer;
}

input {
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 0.3em;
    text-indent: 1em;
    padding: 0.5em 0;
}

select {
    border: 1px solid black;
    border-radius: 0.5em;
    text-indent: 0.5em;
    padding: 0.5em 0;
}

textarea {
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 0.3em;
    padding: 15px;
    min-height: 40vh;
}

.option-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.option-bar input {
    padding: 0.5em 0;
    margin: 0 5px;
}

@media only screen and (max-device-width: 800px) and (min-device-width: 371px) {
    * {
        font-size: 36px;
    }

    .graphic {
        display: none;
    }

    .login-container {
        width: 100%;
    }

    .login-container img {
        width: 80%;
    }

    .login-container form button {
        width: 100%;
    }
}

header {
    width: 100vw;
    height: 2em;
    background: transparent linear-gradient(180deg, #86C4F4 0%, #64B0EB 100%) 0 0 no-repeat padding-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 100;
}

header a > img {
    height: 1.8em;
}

header > a:first-child {
    margin-left: 10px;
    height: 1.8em;
}

header a > i {
    font-size: 1.5em;
    margin: 0 10px;
    color: white;
}

.push {
    margin-left: auto;
}

.user-header {
    height: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.1em;
}

.user-header p {
    font-size: 0.8em;
    text-align: right;
}

.user-header > p:last-child {
    font-size: 0.5em;
    text-transform: uppercase;
}

.avatar {
    width: 1.9em;
    height: 1.9em;
    margin: 0 10px;
    border-radius: 100%;
}

nav {
    min-height: calc(100% - 2em);
    width: 20%;
    background-color: white;
    box-shadow: 0 0 5px #5E5E5E;
    z-index: 10;
}

nav li {
    list-style-type: none;
    margin-top: 1.5em;
    padding-left: 1.5em;
}

nav li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

nav li a > i {
    font-size: 1.5em;
    margin: 0 auto;
    color: #00000080
}

nav li a > div {
    width: 80%;
    text-indent: 1em;
    text-shadow: 0 3px 6px #00000029;
}

main {
    background-color: #ECF1F8;
    width: calc(80% - 40px);
    min-height: calc(92vh - 3em);
    padding: 20px;
}

main > div {
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000024;
    border-radius: 7px;
    padding: 15px;
}

main * {
    font-size: 0.9em;
}

@media only screen and (max-device-width: 1000px) {
    .option-bar {
        flex-direction: column;
        width: calc(100% - 30px);
    }

    button, input {
        width: 100%;
        margin: 0.2em 0;
        border-radius: 0.5em;
        padding: 0.5em 0;
    }

    a[class="button"] {
        width: 100%;
    }

    .hide {
        display: none;
    }
}

@media only screen and (max-device-width: 1200px) {
    nav div {
        display: none;
    }

    nav li {
        padding: 0;
    }

    nav {
        width: 3em;
    }

    main {
        width: calc(100% - 3em - 40px);
    }
}