body {
    margin: 0;
}

* {
    font: normal normal normal 20px/27px Segoe UI;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.base-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.graphic {
    background: transparent linear-gradient(143deg, #63B0EB 0%, #87C5F5 100%) 0% 0% no-repeat padding-box;
    width: 40%;
    height: 100%;
}

.login-container {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    }

.login-container img {
    width: 50%;
}

.login-container .social {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-container form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-between;
    flex-wrap: wrap;
    width: 70%;
    min-height: 35%;
}

.login-container form input {
    width: calc(90% - 4px);
    height: 3em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 8px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 10px;
    text-indent: 2em;
}

.login-container form button {
    background: #63B0EB 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 22px;
    width: 40%;
    height: 2em;
    color: white;
}

.login-container form > a {
    align-self: flex-start;
    text-align: right;
    width: 100%;
    margin: 1em 0;
}

.login-container form i {
    font-size: 2em;
    width: 10%;
    color: #707070;
    align-self: baseline;
}

.social a{
    border: 0.1em solid;
    border-radius: 50px;
    padding: 0.5em;
    width: 2em;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social a i {
    font-size: 2em;
    display: block;
}